/* pick-16.css */

body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

html {
    font-family: "FingerPaint";
}

.no-select {
    -webkit-user-select: none;  /* Safari 3.1+ */
    -moz-user-select: none;     /* Firefox 2+ */
    -ms-user-select: none;      /* IE 10+ */
}

#container {
    max-width: 820px;
    min-width: 600px;
    margin: auto;
    background-color: gold;
    border: 4px solid #000066;
}

header {
    height: 110px;
    padding-top: 0px;
    color: #004400;
    font-weight: bold;
    text-align: center;
    border: 0px solid red;
}

h1 {
    font-size: 3em;
    margin: 0px;
    text-shadow: 1px 1px 1px white;
}

header p {
    margin-top: -5px;
    padding-top: 0px;
    font-weight: normal;
    text-align: center;
    font-size: 1.5em;
}



main {
    border: 0px solid green;
}

footer {
    height: 50px;
    border: 0px solid blue;
}

#copyright {
    font-size: 1em;
    text-align: center;
    margin-top: 1.5em;
}

#game {
    width: 100%;
}

#scoreboard {
    width: 100%;
    height: 100px;
    margin-bottom: 0px;
    background-color: gold;
    border: 0px solid red;
}

#gameboard {
    /*display: flex;*/
    width: 100%;
    /*height: 500px;*/
    background-color: #004400;
    border: 0px solid blue;
}

.square {
    display: inline-block;
    width: 200px;
    height: 150px;
    font-size: 1em;
    border: 0px solid gray;
}

.piece {
    position: relative;
    width: 100px;
    height: 100px;
    top: 16%;        /* half of a third */
    left: 25%;       /* half of a half */
    padding-top: 0%;
    font-family: "FingerPaint";
    font-size: 4.0em;
    font-weight: bold;
    text-align: center;
    color: gold;
    background-color: #000066;
    border: 1px solid #000066;
    border-radius: 50px;
    box-shadow: 2px 2px 4px black;
    text-shadow: 1px 1px 2px black;
}

.piece:hover {
    background-color: #000044;
    border: 1px solid gold;
}




#start-button-holder {
    display: inline-block;
    width: 49%;
    height: 40%;
    margin-left: 1%;
}

#start-button {
    width: 100%;
    height: 100%;
    font-family: "FingerPaint";
    font-size: 1.8em;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    background-color: #004400;
}

#start-button:hover {
    background-color: #008800;
}

#timer-holder {
    display: inline-block;
    margin-top: 0px;
    width: 48.5%;
    height: 40%;
    font-family: "FingerPaint";
    font-size: 1.8em;
    text-align: center;
    padding-bottom: 5px;
    color: white;
    background-color: #004400;
}

#timer-label {
    display: inline-block;
    text-align: left;
}

#timer-display {
    display: inline-block;
    text-align: right;
}



#picks-display {
    display: block;
    margin-top: 6px;
    font-family: "FingerPaint";
    font-weight: bold;
    font-size: 1.75em;
    color: #004400;
    text-align: center;
}

.pick {
    display: inline-block;
    width : 5%;
    background-color: #eeeeee;
}


.piece-correct {
    background-color: #009900;
    border: 1px solid #009900;
}

.piece-correct:hover {
    background-color: #009900;
    border: 1px solid gold;
}

.piece-incorrect {
    background-color: #990000;
    border: 1px solid #990000;
}

.piece-incorrect:hover {
    background-color: #990000;
    border: 1px solid gold;
}

#overlay {
    position: absolute;
    top: 215px;
    width: 780px;
    height: 560px;
    background-color: rgba(0, 0, 0, .9);
    text-align: center;
    font-size: 3em;
    color: gold;
    padding: 20px;
}